.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Player carousel styles */
.carousel-inner {
  border-radius: 8px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
}

/* Similar players styles */
.row .col-md-4 {
  margin-bottom: 15px;
}

.similar-player-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.player-details {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 999;
}

/* Carousel control styles */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff;
  padding: 8px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
}

.carousel-control-prev-icon {
  margin-left: -10px;
}

.carousel-control-next-icon {
  margin-right: -10px;
}
